@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-sans: 'Manrope', sans-serif;
  --font-mono: 'IBM Plex Sans Condensed', monospace;
}

:root {
  --ui-bg: white;
  --ui-radius: 0.5rem;
}

.dark {
  --ui-bg: black;
}

/* Collaboration carets */
.collaboration-carets__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-carets__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}
/* Print styles - hide CTAs and controls */
@media print {
  .print\:hidden {
    display: none !important;
  }
}